.first{
    font-size: 40px;
    background-color: azure;
    border: 5px;
    color: aqua;
    
}
#aa{
    color: bisque
}
#ss{
    color: chocolate
}
#MAIN-NAVBAR a{
    background-color: red;
    width: 100PX;
    height: 45PX;
    padding: 5PX;
    color: fuchsia !important;

        
}
#main-navbar a{
    color: aliceblue !important;
    text-decoration: none;
    font-weight: bold;
}
#ss .class{
    color: aqua
}