nav {
    color: white;
    text-align: center;
    background-color: black;
    width: 50%;
    margin-left: 25%;
    padding-top: 30px;
    height: 50px;
}
footer {
    color: white;
    text-align: center;
    background-color: black;
    width: 50%;
    margin-top: 400px;
    padding-top: 30px;
    height: 50px;
}
